*  {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

.App {
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


.Main {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
}